/* .playerdiv {
  width: 100%;
  height: 100%;
} */

.MainModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 50;

  @media screen and (max-width: 770px) {
    width: 100%;
    height: auto;
  }
}

.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.821) !important;
}

.fa-solid:hover {
  cursor: pointer;
}

.videoplayer {
  z-index: 9999;
}
