* {
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #0d0d0d;
}

::selection {
  background-color: #c70a46;
  color: #427bf5;
}

/*** For Mozilla based browsers ***/
::-moz-selection {
  background-color: #c70a46;
  color: #427bf5;
}

/***For Other Browsers ***/
::-o-selection {
  background-color: #c70a46;
  color: #427bf5;
}

::-ms-selection {
  background-color: #c70a46;
  color: #427bf5;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #c70a46;
  color: #427bf5;
}
